*{
    margin:6px;
    padding:6px;
    background-color: #F0E9D2;

}

div{
    border-radius: 25px;
    border: 3px solid black;
    background-color: #181D31;
    
}

.texto{
    text-align: center;
    height: auto;
    background-color: rgb(203, 162, 226);
}

#texto{
    background-color: rgb(203, 162, 226);
    text-align: center;
    height: auto;
}

#container{
    background-color: rgb(203, 162, 226);
    text-align: center;
    height: auto;
}


